<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-eyecamera"
        version="0.4.2">
    
    <name>JREye</name>
    
    <description>This plugin for Cordova and PhoneGap allows you to check if an app is installed. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,PhoneGap,plugin,app,availability,installed, URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <repo>https://github.com/ohh2ahh/AppAvailability.git</repo>
    <issue>https://github.com/ohh2ahh/AppAvailability/issues</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/JREye.js" name="JREye">
        <!--jreye:js调用方法时的对象 -->
        <clobbers target="jreye" />
    </js-module>
    
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="JREye">
                <!--JREye:继承CDVPlugin的类名 -->
                <param  name="ios-package"  value="JREye"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/Class/JREye.m" />
        <header-file src="src/ios/Class/JREye.h" />
        <header-file src="src/ios/Class/TDHeader.h" />
        <source-file src="src/ios/Class/TDNavgationController.m" />
        <header-file src="src/ios/Class/TDNavgationController.h" />
        <source-file src="src/ios/Class/WYVideoCaptureController.m" />
        <header-file src="src/ios/Class/WYVideoCaptureController.h" />
        <source-file src="src/ios/Class/JRPictureModel.m" />
        <header-file src="src/ios/Class/JRPictureModel.h" />
        <source-file src="src/ios/Class/JREyeTypeModel.m" />
        <header-file src="src/ios/Class/JREyeTypeModel.h" />
        <source-file src="src/ios/Class/PictureScanViewController.m" />
        <header-file src="src/ios/Class/PictureScanViewController.h" />
        <source-file src="src/ios/Class/ShootCollectionHeaderView.m" />
        <header-file src="src/ios/Class/ShootCollectionHeaderView.h" />
        <source-file src="src/ios/Class/ShootCollectionButton.m" />
        <header-file src="src/ios/Class/ShootCollectionButton.h" />
        <source-file src="src/ios/Class/ShootCollectionViewCell.m" />
        <header-file src="src/ios/Class/ShootCollectionViewCell.h" />
        <source-file src="src/ios/Class/JRMediaFileManage.m" />
        <header-file src="src/ios/Class/JRMediaFileManage.h" />
        <source-file src="src/ios/Class/MLSelectPhotoBrowserViewController.m" />
        <header-file src="src/ios/Class/MLSelectPhotoBrowserViewController.h" />
        <source-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoScrollView.m" />
        <header-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoScrollView.h" />
        <source-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoView.m" />
        <header-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoView.h" />
        <source-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoImageView.m" />
        <header-file src="src/ios/Class/MLSelectPhotoPickerBrowserPhotoImageView.h" />
        <header-file src="src/ios/Class/MLSelectPhotoCommon.h" />
        <source-file src="src/ios/Class/ZQBaseClassesExtended.m" />
        <header-file src="src/ios/Class/ZQBaseClassesExtended.h" />
        <source-file src="src/ios/Class/UIImage+MLTint.m" />
        <header-file src="src/ios/Class/UIImage+MLTint.h" />
        <source-file src="src/ios/Class/UIView+MLExtension.m" />
        <header-file src="src/ios/Class/UIView+MLExtension.h" />
        <source-file src="src/ios/Class/LX_layoutAttributes.m" />
        <header-file src="src/ios/Class/LX_layoutAttributes.h" />
        <source-file src="src/ios/Class/NSTimer+Addtion.m" />
        <header-file src="src/ios/Class/NSTimer+Addtion.h" />
        <source-file src="src/ios/Class/ProgressView.m" />
        <header-file src="src/ios/Class/ProgressView.h" />
        <source-file src="src/ios/Class/UIView+AutoLayoutViews.m" />
        <header-file src="src/ios/Class/UIView+AutoLayoutViews.h" />
        <source-file src="src/ios/Class/UIView+Extension.m" />
        <header-file src="src/ios/Class/UIView+Extension.h" />
        <source-file src="src/ios/Class/WYTopImgBtn.m" />
        <header-file src="src/ios/Class/WYTopImgBtn.h" />
        <source-file src="src/ios/Class/WYVideoTimeView.m" />
        <header-file src="src/ios/Class/WYVideoTimeView.h" />
        <source-file src="src/ios/Class/TDAlertView.m" />
        <header-file src="src/ios/Class/TDAlertView.h" />
        <resource-file src="src/ios/Resource/takePhoto@2x.png" />
        <resource-file src="src/ios/Resource/takePhoto@3x.png" />
        <resource-file src="src/ios/Resource/albumSelectedicon@2x.png" />
        <resource-file src="src/ios/Resource/albumSelectedicon@3x.png" />
        <resource-file src="src/ios/Resource/ISOicon@2x.png" />
        <resource-file src="src/ios/Resource/ISOicon@3x.png" />
        <resource-file src="src/ios/Resource/ISOclickicon@2x.png" />
        <resource-file src="src/ios/Resource/ISOclickicon@3x.png" />
        <resource-file src="src/ios/Resource/whiteBalanceLefticon@2x.png" />
        <resource-file src="src/ios/Resource/whiteBalanceLefticon@3x.png" />
        <resource-file src="src/ios/Resource/whiteBalanceRighticon@2x.png" />
        <resource-file src="src/ios/Resource/whiteBalanceRighticon@3x.png" />
        <resource-file src="src/ios/Resource/white-balance-icon@2x.png" />
        <resource-file src="src/ios/Resource/white-balance-icon@3x.png" />
        <resource-file src="src/ios/Resource/white-balance-click-icon@2x.png" />
        <resource-file src="src/ios/Resource/white-balance-click-icon@3x.png" />
        <resource-file src="src/ios/Resource/leftEyeicon@2x.png" />
        <resource-file src="src/ios/Resource/leftEyeicon@3x.png" />
        <resource-file src="src/ios/Resource/rightEyeicon@2x.png" />
        <resource-file src="src/ios/Resource/rightEyeicon@3x.png" />
        <resource-file src="src/ios/Resource/unselectedicon@2x.png" />
        <resource-file src="src/ios/Resource/unselectedicon@3x.png" />
        <resource-file src="src/ios/Resource/selectedicon@2x.png" />
        <resource-file src="src/ios/Resource/selectedicon@3x.png" />
        <resource-file src="src/ios/Resource/Submit-icon@2x.png" />
        <resource-file src="src/ios/Resource/Submit-icon@3x.png" />
        <resource-file src="src/ios/Resource/iconfont-fingerprintwithcrosshairfocus.png" />
        <resource-file src="src/ios/Resource/iconfont-fingerprintwithcrosshairfocus@2x.png" />
        <resource-file src="src/ios/Resource/iconfont-fingerprintwithcrosshairfocus@3x.png" />
        <resource-file src="src/ios/Resource/educe.png" />
        <resource-file src="src/ios/Resource/educe@2x.png" />
        <resource-file src="src/ios/Resource/educe@3x.png" />
        <resource-file src="src/ios/Resource/plus.png" />
        <resource-file src="src/ios/Resource/plus@2x.png" />
        <resource-file src="src/ios/Resource/plus@3x.png" />
        <resource-file src="src/ios/Resource/tdaSelected.png" />
        <resource-file src="src/ios/Resource/tdaSelected@2x.png" />
        <resource-file src="src/ios/Resource/tdaSelected@3x.png" />
        <resource-file src="src/ios/Resource/tdaUnselected.png" />
        <resource-file src="src/ios/Resource/tdaUnselected@2x.png" />
        <resource-file src="src/ios/Resource/tdaUnselected@3x.png" />
        <resource-file src="src/ios/Resource/silent.m4a" />
    </platform>
    
	<platform name="android">
        <config-file  target="res/xml/config.xml" parent="/*">
            <feature  name="JREye">
                <!--JREye:继承CDVPlugin的类名 -->
                <param  name="android-package"  value="com.terrydr.eyeScope.Plugin_intent"/>
            </feature>
        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">  
			<activity android:name="com.terrydr.eyeScope.CameraActivity" 
			android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/> 
			<activity android:name="com.terrydr.eyeScope.AlbumAty" 
			android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
			<activity android:name="com.terrydr.eyeScope.AlbumItemAty"
			android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />		
			<activity
            android:name="com.terrydr.eyeScope.AlbumItemAtyForJs"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>			
        </config-file>

		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="title_activity_camera">EyeScope</string>   
			<string name="eye_right">右眼</string>
			<string name="eye_left">左眼</string>
			<string name="header_bar_enter_selection_tv">选择</string>
			<string name="cance_bt_tv">返回</string>
			<string name="camera_tv">拍照</string>
			<string name="image_browse_tv">返回</string>
			<string name="selected_tv">已选 0 张</string>
			<string name="commit_bt">提交</string>
			<string name="prompt">是否删除照片</string>
			<string name="exit_app">下次不再提示</string>
			<string name="confirm">确定</string>
			<string name="cancel">取消</string>
			<string name="dismiss">隐藏</string>			
			<string name="Files">Files</string>
			<string name="Image">Image</string>
			<string name="Thumbnail">Thumbnail</string>
        </config-file>
					 
		<source-file src="src/android/libs/android-support-v4.jar"
                     target-dir="libs"/>
		<source-file src="src/android/libs/android-support-v7-appcompat.jar"
                     target-dir="libs"/>			 		
		<source-file src="src/android/com/terrydr/eyeScope/AlbumAty.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/AlbumGridView.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/AlbumItemAty.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/AlbumItemAtyForJs.java"
                     target-dir="src/com/terrydr/eyeScope"/>							 
		<source-file src="src/android/com/terrydr/eyeScope/AlbumViewPager.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/AlbumViewPagerForJs.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/ArcSeekBar.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/ArcSeekBarParent.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/BitmapDisplayer.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/CameraActivity.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/CameraContainer.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/CameraOperation.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/CameraSize.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/CameraView.java"
                     target-dir="src/com/terrydr/eyeScope"/>					 
		<source-file src="src/android/com/terrydr/eyeScope/CustomDialog.java"
                     target-dir="src/com/terrydr/eyeScope"/>	
		<source-file src="src/android/com/terrydr/eyeScope/DisplayImageOptions.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/DownloadImgUtils.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/FileOperateUtil.java"
                     target-dir="src/com/terrydr/eyeScope"/>						 
		<source-file src="src/android/com/terrydr/eyeScope/FilterImageView.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/FocusImageView.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/ImageAsyncTask.java"
                     target-dir="src/com/terrydr/eyeScope"/>					 
		<source-file src="src/android/com/terrydr/eyeScope/ImageLoader.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/ImageSizeUtil.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/MatrixBitmapDisplayer.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/MatrixImageView.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/Plugin_intent.java"
                     target-dir="src/com/terrydr/eyeScope"/>					 
		<source-file src="src/android/com/terrydr/eyeScope/Reflect.java"
                     target-dir="src/com/terrydr/eyeScope"/>								 
		<source-file src="src/android/com/terrydr/eyeScope/RoundedBitmapDisplayer.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/com/terrydr/eyeScope/SeekBarArcView.java"
                     target-dir="src/com/terrydr/eyeScope"/>		
		<source-file src="src/android/com/terrydr/eyeScope/SeekBarBallView.java"
                     target-dir="src/com/terrydr/eyeScope"/>						 
		<source-file src="src/android/com/terrydr/eyeScope/ThumbnaiImageView.java"
                     target-dir="src/com/terrydr/eyeScope"/>
		<source-file src="src/android/res/anim/focusview_show.xml" target-dir="res/anim"/>
		<source-file src="src/android/res/drawable/bg.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/check_left_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/check_right_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/check_single_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/item_album_grid_checkbox.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/item_page_grid_checkbox.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/left_btn_select.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/left_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/right_btn_select.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/right_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/shape.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/single_btn_select.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/single_btn.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/zoom_setting_progressbar.xml" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable-xhdpi/albumitem_selected_current.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/albumitem_selected_status.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/albumitem_selected.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/albumitem_unselect_status.png" target-dir="res/drawable-xhdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/albumitem_unselected.png" target-dir="res/drawable-xhdpi"/>				
		<source-file src="src/android/res/drawable-xhdpi/commit_bt_bg.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/eyeleft_iv.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/eyeright_iv.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/focus_focus_failed.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/focus_focused.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/focus_focusing.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/ic_launcher.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/icon_iso_iv_bright.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/icon_iso_iv_dark.png" target-dir="res/drawable-xhdpi" />		
		<source-file src="src/android/res/drawable-xhdpi/icon_left.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/icon_right.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/icon_whitebalance_iv_bright.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/icon_whitebalance_iv_dark.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/pageitem_selected.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/pageitem_unselected.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/photos_iv.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/top_left_but.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_auto.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_background.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_cloudy_daylight.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_daylight.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_incandescent.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_thumb.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/wb_warm_fluorescent.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_background.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_left.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_progress_black.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_progress_white.png" target-dir="res/drawable-xhdpi" />
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_right.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/whitebalance_thumb.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/zoom_enlargement.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/zoom_lessen.png" target-dir="res/drawable-xhdpi" />	
		<source-file src="src/android/res/drawable-xhdpi/zoom_thumb.png" target-dir="res/drawable-xhdpi" />	
		
		<source-file src="src/android/res/drawable-xxhdpi/albumitem_selected_current.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/albumitem_selected_status.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/albumitem_unselect_status.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xxhdpi/wb_auto.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/res/drawable-xxhdpi/wb_cloudy_daylight.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/res/drawable-xxhdpi/wb_daylight.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/res/drawable-xxhdpi/wb_incandescent.png" target-dir="res/drawable-xxhdpi" />
		<source-file src="src/android/res/drawable-xxhdpi/wb_warm_fluorescent.png" target-dir="res/drawable-xxhdpi" />
		
		<source-file src="src/android/res/layout/activity_camera.xml" target-dir="res/layout" />	
		<source-file src="src/android/res/layout/album_header_bar.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/album_item_bottom_bar.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/album_item_header_bar.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/album.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/albumitem_for_js.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/albumitem.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/camera_bottom_bar.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/camera_header_bar.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/cameracontainer.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/customdialog.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/item_album_grid.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout/item_album_pager.xml" target-dir="res/layout" />
		<source-file src="src/android/res/values/attrs.xml" target-dir="res/values" />		
		<source-file src="src/android/res/values/colors.xml" target-dir="res/values" />
		<source-file src="src/android/res/values/dimens.xml" target-dir="res/values" />		
		<source-file src="src/android/res/values/mystyles.xml" target-dir="res/values" />			
    </platform>
</plugin>