<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-eyecamera"
        version="0.4.2">
    
    <name>JREye</name>
    
    <description>This plugin for Cordova and PhoneGap allows you to check if an app is installed. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,PhoneGap,plugin,app,availability,installed, URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <repo>https://github.com/ohh2ahh/AppAvailability.git</repo>
    <issue>https://github.com/ohh2ahh/AppAvailability/issues</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/JREye.js" name="JREye">
        <!--jreye:js调用方法时的对象 -->
        <clobbers target="jreye" />
    </js-module>
    
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="JREye">
                <!--JREye:继承CDVPlugin的类名 -->
                <param  name="ios-package"  value="JREye"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/JREye.m" />
        <header-file src="src/ios/JREye.h" />
        <header-file src="src/ios/TDHeader.h" />
        <source-file src="src/ios/WYVideoCaptureController.m" />
        <header-file src="src/ios/WYVideoCaptureController.h" />
        <source-file src="src/ios/JRPictureModel.m" />
        <header-file src="src/ios/JRPictureModel.h" />
        <source-file src="src/ios/JREyeTypeModel.m" />
        <header-file src="src/ios/JREyeTypeModel.h" />
        <source-file src="src/ios/PictureScanViewController.m" />
        <header-file src="src/ios/PictureScanViewController.h" />
        <source-file src="src/ios/ShootCollectionHeaderView.m" />
        <header-file src="src/ios/ShootCollectionHeaderView.h" />
        <source-file src="src/ios/ShootCollectionButton.m" />
        <header-file src="src/ios/ShootCollectionButton.h" />
        <source-file src="src/ios/ShootCollectionViewCell.m" />
        <header-file src="src/ios/ShootCollectionViewCell.h" />
        <source-file src="src/ios/JRMediaFileManage.m" />
        <header-file src="src/ios/JRMediaFileManage.h" />
        <source-file src="src/ios/MLSelectPhotoBrowserViewController.m" />
        <header-file src="src/ios/MLSelectPhotoBrowserViewController.h" />
        <source-file src="src/ios/MLSelectPhotoPickerBrowserPhotoScrollView.m" />
        <header-file src="src/ios/MLSelectPhotoPickerBrowserPhotoScrollView.h" />
        <source-file src="src/ios/MLSelectPhotoPickerBrowserPhotoView.m" />
        <header-file src="src/ios/MLSelectPhotoPickerBrowserPhotoView.h" />
        <source-file src="src/ios/MLSelectPhotoPickerBrowserPhotoImageView.m" />
        <header-file src="src/ios/MLSelectPhotoPickerBrowserPhotoImageView.h" />
        <header-file src="src/ios/MLSelectPhotoCommon.h" />
        <source-file src="src/ios/ZQBaseClassesExtended.m" />
        <header-file src="src/ios/ZQBaseClassesExtended.h" />
        <source-file src="src/ios/UIImage+MLTint.m" />
        <header-file src="src/ios/UIImage+MLTint.h" />
        <source-file src="src/ios/UIView+MLExtension.m" />
        <header-file src="src/ios/UIView+MLExtension.h" />
        <source-file src="src/ios/LX_layoutAttributes.m" />
        <header-file src="src/ios/LX_layoutAttributes.h" />
        <source-file src="src/ios/NSTimer+Addtion.m" />
        <header-file src="src/ios/NSTimer+Addtion.h" />
        <source-file src="src/ios/ProgressView.m" />
        <header-file src="src/ios/ProgressView.h" />
        <source-file src="src/ios/UIView+AutoLayoutViews.m" />
        <header-file src="src/ios/UIView+AutoLayoutViews.h" />
        <source-file src="src/ios/UIView+Extension.m" />
        <header-file src="src/ios/UIView+Extension.h" />
        <source-file src="src/ios/WYTopImgBtn.m" />
        <header-file src="src/ios/WYTopImgBtn.h" />
        <source-file src="src/ios/WYVideoTimeView.m" />
        <header-file src="src/ios/WYVideoTimeView.h" />
        <resource-file src="src/ios/Select_list_btn_solid@2x.png" />
        <resource-file src="src/ios/Select_list_btn_solid@3x.png" />
        <resource-file src="src/ios/takePhoto@2x.png" />
        <resource-file src="src/ios/takePhoto@3x.png" />
        <resource-file src="src/ios/iso-icon@2x.png" />
        <resource-file src="src/ios/iso-icon@3x.png" />
        <resource-file src="src/ios/whiteBalance@2x.png" />
        <resource-file src="src/ios/whiteBalance@3x.png" />
        <resource-file src="src/ios/whiteBalanceLefticon@2x.png" />
        <resource-file src="src/ios/whiteBalanceLefticon@3x.png" />
        <resource-file src="src/ios/whiteBalanceRighticon@2x.png" />
        <resource-file src="src/ios/whiteBalanceRighticon@3x.png" />
    </platform>
    
</plugin>